<!-- ******************************************************************* -->
<!-- ************************* test FILE **************************** -->
<!-- ************************** DEFINITIONS **************************** -->
<!-- ******************************************************************* -->
<DBCONFIG>
<DBENV> /home/ray/Work/DBENV </DBENV>

<!-- The next filedef is for the subjects cluster file                   -->
<FILEDEF TYPE=SGML>
<!-- filetag is the "shorthand" name of the file -->
<FILETAG>  test
</FILETAG>
<!-- filename is the full path name of the file -->
<FILENAME>  	/home/ray/Work/cheshire_comp/index/test.data
</FILENAME>
<!-- fileDTD is the full path name of the file's DTD -->
<FILEDTD>	/home/ray/Work/cheshire_comp/index/test.dtd
</FILEDTD>
<!-- assocfil is the full path name of the file's Associator -->
<ASSOCFIL>	/home/ray/Work/cheshire_comp/index/test.data.assoc
</ASSOCFIL>
<!-- history is the full path name of the file's history file -->
<HISTORY>	/home/ray/Work/cheshire_comp/index/test.history
</HISTORY>

<!-- The following are the index definitions for the file -->

<INDEXES>
<!-- First index def -->
<INDEXDEF ACCESS=BTREE EXTRACT=KEYWORD NORMAL=NONE>
<INDXNAME>
		/home/ray/Work/cheshire_comp/index/TESTDATA/test.index
		
</INDXNAME>
<INDXTAG> 	test
		
</INDXTAG>
<INDXMAP>
<USE> 21 </USE><RELAT> 102 </RELAT><POSIT> 3 </posit> <struct> 6 </struct>
</INDXMAP>

<STOPLIST> /home/ray/Work/cheshire_comp/index/titlestoplist
</STOPLIST>
<INDXKEY>
<TAGSPEC>
	<FTAG>test</FTAG>
</TAGSPEC>
</INDXKEY>
</INDEXDEF>

</INDEXES>

</FILEDEF> 
</DBCONFIG>
