<FILETAG>verify</FILETAG>
<FILENAME> testrecord.sgml </FILENAME>

<FILEDTD> /home/cheshire/cheshire/metadata/dtds/metadata-html.dtd.wrapper </FILEDTD>
<SGMLCAT> /home/cheshire/cheshire/eadhub/catalog </SGMLCAT>
<ASSOCFIL> verify.assoc </ASSOCFIL>
<HISTORY> verify.history </HISTORY>

<INDEXES>

<INDEXDEF ACCESS=BTREE EXTRACT=EXACTKEY NORMAL=NONE PRIMARYKEY=REPLACE>
<INDXNAME> cheshireID.index </INDXNAME>
<INDXTAG>cheshireID</INDXTAG>

<INDXKEY>
  <TAGSPEC><FTAG>cheshireId</FTAG></TAGSPEC>
</INDXKEY>
</INDEXDEF>

</INDEXES>

</FILEDEF>
</DBCONFIG>
