<dbconfig>
<!-- This is a test config file for Cheshire II -->
<!-- The first filedef -->
<filedef type=SGML>
<!-- filetag is the shorthand name of the file -->
<filetag>teifile</filetag>
<!-- filename is the full path name of the file -->
<filename> /usr6/ray/uvadata2/teidocs_tst2 </filename>
<!-- Explain data for populating databaseinfo records for explain -->
<explain>
<titlestring> TEI Documents</titlestring>
<description> This is a test file of 10+ documents encoded in TEI Lite 1.6
</description>
<news> No news </news>
<hours> Whenever the system is up </hours>
<besttime> Almost any time is good </besttime>
<lastupdate> Jan. 1999 </lastupdate>
<updateinterval>
<value> 10 </value>
<units> Years </units>
</updateinterval>
<coverage> Doesn't cover much </coverage>
<proprietary> NO </proprietary>
<copyrighttext> This is not copyrighted </copyrighttext>
<copyrightnotice> This would be a copyright notice </copyrightnotice>
<producercontactinfo>
<contact_name> Rosser L. Wayland</contact_name>
<contact_email> rlw@unix.mail.Virginia.EDU</contact_email>
</producercontactinfo><suppliercontactinfo>
<contact_name> Rosser L. Wayland</contact_name>
<contact_email> rlw@unix.mail.Virginia.EDU</contact_email>
</suppliercontactinfo></explain>
<!-- fileDTD is the full path name of the file's DTD -->
<filedtd> /usr6/ray/uvadata2/teilite.dtd</filedtd>
<sgmlcat>/usr6/ray/uvadata2/catalog</sgmlcat>
<!-- assocfil is the full path name of the file's Associator -->
<assocfil> /usr6/ray/uvadata2/teidocs_tst2.assoc</assocfil>
<!-- history is the full path name of the file's history file -->
<history> /usr6/ray/uvadata2/teidocs.sgml.history </history>
<!-- The following are the index definitions for the file -->
<indexes>

<!-- First index def -->
<indexdef access=btree extract=keyword normal=NONE>
<indxname>  /usr6/ray/uvadata2/dictionary.text</indxname>
<indxtag> text </indxtag>
<!-- The following INDXMAP items provide a mapping from the AUTHOR tag to -->
<!-- the appropriate Z39.50 BIB1 attribute numbers      -->
<indxmap>
<use> 1010 </use>
<posit> 3 </posit>
<struct> 6 </struct>
</indxmap>
<!-- The INDXKEY area contains the specifications of tags in the doc -->
<!-- that are to be extracted and indexed for this index    -->
<indxkey>
<tagspec>
<ftag> text </ftag></tagspec>
</indxkey>
</indexdef>

<!-- second index def -->
<INDEXDEF ACCESS=BTREE EXTRACT=KEYWORD NORMAL=NONE>
<INDXNAME>
/usr6/ray/uvadata2/dictionary.author
</INDXNAME>
<INDXTAG> author </INDXTAG>

<!-- The following INDXMAP items provide a mapping from the AUTHOR tag to -->
<!-- the appropriate Z39.50 BIB1 attribute numbers      -->
<INDXMAP> <USE> 1 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 2 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 3 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 1002 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 1003 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 1004 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 1005 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 1006 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>

<indxkey>
<tagspec>
<ftag> author </ftag></tagspec>
</indxkey>
</indexdef>

<!-- The next index entry definition -->



<INDEXDEF ACCESS=BTREE EXTRACT=KEYWORD NORMAL=STEM>
<INDXNAME> /usr6/ray/uvadata2/dictionary.title </INDXNAME>
<INDXTAG> title </INDXTAG>

<INDXMAP>
<USE> 4 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> 
<USE> 5 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> 
<USE> 6 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>

<INDXKEY>
<TAGSPEC>
<FTAG> title </FTAG>
</TAGSPEC> </INDXKEY> </INDEXDEF>

<!-- The next index entry definition -->

<INDEXDEF ACCESS=BTREE EXTRACT=KEYWORD NORMAL=STEM>
<INDXNAME> /usr6/ray/uvadata2/dictionary.subject </INDXNAME>
<INDXTAG> subject </INDXTAG>

<INDXMAP>
<USE> 21 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP>
<USE> 26 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP>
<USE> 25 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP>
<USE> 27 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP>
<USE> 28 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>

<INDXKEY>
<TAGSPEC>
<FTAG> subject </FTAG> </TAGSPEC> </INDXKEY> </INDEXDEF>



<!-- next index def -->
<INDEXDEF ACCESS=BTREE EXTRACT=KEYWORD NORMAL=NONE>
<INDXNAME>
/usr6/ray/uvadata2/dictionary.publisher
</INDXNAME>
<INDXTAG> publisher </INDXTAG>

<!-- The following INDXMAP items provide a mapping from the AUTHOR tag to -->
<!-- the appropriate Z39.50 BIB1 attribute numbers      -->
<INDXMAP> <USE> 1018 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 2001 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 2006 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 2023 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>
<INDXMAP> <USE> 2024 </USE><POSIT> 3 </posit> <struct> 6 </struct> </INDXMAP>

<indxkey>
<tagspec>
<ftag> publisher </ftag></tagspec>
</indxkey>
</indexdef>

</indexes>
</filedef>
</dbconfig>


