<dbconfig>
<!-- This is a test config file for Cheshire II -->
<!-- The first filedef -->
<filedef type=SGML>
<!-- filetag is the shorthand name of the file -->
<filetag>teifile </filetag>
<!-- filename is the full path name of the file -->
<filename> /usr6/ray/uvadata/teidocs </filename>
<!-- Explain data for populating databaseinfo records for explain -->
<explain>
<titlestring> TEI Documents</titlestring>
<description> This is a test file of 10+ documents encoded in TEI Lite 1.6
</description>
<news> No news </news>
<hours> Whenever the system is up </hours>
<besttime> Almost any time is good </besttime>
<lastupdate> Jan. 1999 </lastupdate>
<updateinterval>
<value> 10 </value>
<units> Years </units>
</updateinterval>
<coverage> Doesn't cover much </coverage>
<proprietary> NO </proprietary>
<copyrighttext> This is not copyrighted </copyrighttext>
<copyrightnotice> This would be a copyright notice </copyrightnotice>
<producercontactinfo>
<contact_name> Rosser L. Wayland</contact_name>
<contact_email> rlw@unix.mail.Virginia.EDU</contact_email>
</producercontactinfo><suppliercontactinfo>
<contact_name> Rosser L. Wayland</contact_name>
<contact_email> rlw@unix.mail.Virginia.EDU</contact_email>
</suppliercontactinfo></explain>
<!-- fileDTD is the full path name of the file's DTD -->
<filedtd> /usr6/ray/uvadata/teilite.dtd</filedtd>
<sgmlcat>/usr6/ray/uvadata/catalog</sgmlcat>
<!-- assocfil is the full path name of the file's Associator -->
<assocfil> /usr6/ray/uvadata/teidocs.assoc</assocfil>
<!-- history is the full path name of the file's history file -->
<history> /usr6/ray/uvadata/teidocs.sgml.history </history>
<!-- The following are the index definitions for the file -->
<indexes>
<!-- First index def -->
<indexdef access=btree extract=keyword normal=NONE>
<indxname>  /usr6/ray/uvadata/dictionary.text</indxname>
<indxtag> text </indxtag>
<!-- The following INDXMAP items provide a mapping from the AUTHOR tag to -->
<!-- the appropriate Z39.50 BIB1 attribute numbers      -->
<indxmap>
<use> 1010 </use>
<posit> 3 </posit>
<struct> 6 </struct>
</indxmap>
<!-- The INDXKEY area contains the specifications of tags in the doc -->
<!-- that are to be extracted and indexed for this index    -->
<indxkey>
<tagspec>
<ftag> text </ftag></tagspec>
</indxkey></indexdef>
<!-- The next index entry definition -->
</indexes></filedef>
</dbconfig>

