
H1 { font-family: sans-serif; color: #FF5500; background-color: #eeeeff; padding-top: 10px; padding-bottom: 10px; border: 1px solid #3333FF}

H2 { font-family: sans-serif; color: #FF5500; background-color: #eeeeff; padding-top: 10px; padding-bottom: 10px; border: 1px solid #3333FF}

H3 { font-family: sans-serif; color: #F65500; text-indent: 20px; border-left: solid 1px #3333FF; border-top: solid 1px #3333FF; padding-top: 5px }
H3:before {content: "* "}

HR { color: #FF6600; background-color: #FF6600; width: 50%; height: 2px; border: 0px }

.paramTable { vertical-align: top; border: 1px solid; padding: 3px; border-collapse: collapse }
.exampleTable { vertical-align: top; border: 1px solid; padding: 3px; border-collapse: collapse; background-color: #eeeeff}

.paramTable TD {border: 1px solid}
.exampleTable TD {border: 1px solid}
TH {border: 1px solid; background-color: #eeeeff}

A:hover {color: #ff5500}
